apiVersion: apps/v1
kind: Deployment
metadata:
  name: upf-deployment
  labels:
    app: upf
spec:
  replicas: 3
  selector:
    matchLabels:
      app: upf
  template:
    metadata:
      labels:
        app: upf
    spec:
      containers:
      - name: upf
        image: marcinziolkowski/upf:v3
        ports:
        - containerPort: 80